<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PSoundSet</title>


    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script defer type="text/javascript" src="/appscripts/common.js"> </script>
    
    <!-- for conext menu -->
    <link rel="stylesheet" href="/css/contextual.css">
    <link rel="stylesheet" href="/css/contextual.theme.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="/appscripts/contextual_lwmod.js"></script>
    <link defer rel="stylesheet" href="/css/main.css">

  </head>

  <body>

    <!-- model dialog for loading from server -->
    <button id="modal-btn" > click me, I make a modal</button>
    <div class="modal" id="downloadModal">
      <div class="modal-content">
        <span class="close-btn" hidden>&times;</span> 
        <p style="text-align:center">RESAMPLING</p>
        <p style="text-align:center">Click to hide</p>
      </div>
    </div>



    <h2> Sound Set:  <%= ssname %> </h2>
    <!-- (_id: <%= sid %>)  -->

    <input type="button" value='<%= 'zip/download 44100 sr ' + ((sr==44100) ? "(original)" : "(resampled)") %>' onclick="retreiveZippedSSet('<%= sid %>', 44100)" >
    <input type="button" value='<%= 'zip/download 22050 sr ' + ((sr==22050) ? "(original)" : "(resampled)") %>' onclick="retreiveZippedSSet('<%= sid %>', 22050)" >
    <input type="button" value='<%= 'zip/download 16000 sr ' + ((sr==16000) ? "(original)" : "(resampled)") %>' onclick="retreiveZippedSSet('<%= sid %>', 16000)" >

    <div style="background-color:lightsteelblue;padding:15px; border: 1px solid #FF0000;" >

    <ul >
      <!-- Loop through PSoundSetList -->
      <% for(var i = 0; i < sflist.length; i++) {%>
        <li >
          <span > <%= sflist[i] %></span> 
          <audio  controls> <source src= <%= path %>/<%= sflist[i] %>> 
    </audio> 
        </li> 
      <% } %>
    </ul>
    
  </body>
</html>