<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PSoundSet</title>


    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/appscripts/common.js"> </script>

  </head>

  <body>
    <h2> Sound Set:  <%= ssname %> </h2>
    <!-- (_id: <%= sid %>)  -->

    <input type="button" value='<%= 'zip/download 44100 sr ' + ((sr==44100) ? "(original)" : "(resampled)") %>' onclick="retreiveZippedSSet('<%= sid %>', 44100)" >
    <input type="button" value='<%= 'zip/download 22050 sr ' + ((sr==22050) ? "(original)" : "(resampled)") %>' onclick="retreiveZippedSSet('<%= sid %>', 22050)" >
    <input type="button" value='<%= 'zip/download 16000 sr ' + ((sr==16000) ? "(original)" : "(resampled)") %>' onclick="retreiveZippedSSet('<%= sid %>', 16000)" >

    <div style="background-color:lightsteelblue;padding:15px; border: 1px solid #FF0000;" >

    <ul >
      <!-- Loop through PSoundSetList -->
      <% for(var i = 0; i < sflist.length; i++) {%>
        <li >
          <span > <%= sflist[i] %></span> 
          <audio  controls> <source src= <%= path %>/<%= sflist[i] %>> 
    </audio> 
        </li> 
      <% } %>
    </ul>
    
  </body>
</html>